root = true

# General settings for all files
[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

# Markdown - Allow trailing spaces for line breaks
[*.md]
trim_trailing_whitespace = false

# Web Data & Configs (Standardize to 2 spaces)
[*.{json,yml,yaml,xml}]
indent_size = 2

# Batch scripts (Windows compatibility if needed)
[*.{cmd,bat}]
end_of_line = crlf